<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Statics/images/logo.png"/>
    <title>Gather-Hub | About</title>
    <link rel="stylesheet" href="/Statics/CSS/about.css">
</head>
<body>
    <header>
        <h1>Gather-Hub</h1>
        <!--<div class="logo"> <img src="#" alt="Gather-Hub"> </div>-->
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="./service.html">Events</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="about">
        <div class="image-container">
            <img src="/Statics/images/food.jpg" alt="Food">
            <img src="/Statics/images/Movies.jpg" alt="movie">
            <img src="/Statics/images/music.jpg" alt="Music">
        </div>
        <div class="story-box">
            <h2>Our Story</h2>
            <p>Sarah, new to the city, struggled to find events that matched her vibe. She spent hours searching, only to be disappointed. Meanwhile, Alex, an event organizer, couldn’t reach the right audience despite his efforts. Enter Ease – the ultimate platform for discovering and promoting events. Sarah now effortlessly explores personalized events, while Alex connects directly with his target crowd, boosting engagement and ticket sales. Gather Hub revolutionizes event discovery, making every experience unforgettable and easy to find!</p>
        </div>
    </section>
    
    <section class="mission-vision">
        <div class="mission">
            <h3>Mission</h3>
            <p>To provide a user-friendly platform for discovering, attending, and engaging in events, enhancing connections and making event experiences accessible.</p>
        </div>
        <div class="image-container">
            <img src="/Statics/images/back.jpg" alt=" ">
        </div>
        <div class="vision">
            <h3>Vision</h3>
            <p>To connect people effortlessly to events, fostering a vibrant community where memorable experiences are easily discovered and shared.</p>
        </div>
    </section>
    
    <footer>
        <p>&copy; 2025. Gather-Hub</p>
    </footer>
</body>
</html>
