<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gather Hub | Products</title>
    <link rel="stylesheet" href="/GatherHub/Statics/CSS/event.css">
</head>
<body>
    <header>
        <h1>Gather-Hub</h1>
        <!--<div class="logo"> <img src="#" alt="Gather-Hub"> </div>-->
        <nav class=''>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="#event.html">Events</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class= "main">

        <section id="services" class="services">
            <h2>Our Services</h2>
            <div class="service-list">
        
                <div class="service">
                    <img src="/GatherHub/images/movies.png">
                    <!--<img src="/kozzy_prod/statics/Images/ai.PNG" alt="AI">-->
                    <h3>Movies</h3>
                    <p>Movies transport us to different worlds, showcasing stories that evoke emotions and inspire imaginations. </p>
                    <button>See More</button>
                </div>
                <div class="service">
                    <img src="/GatherHub/images/music.jpeg">
                    <!--<img src="/kozzy_prod/statics/Images/comm.PNG" alt="Communities">-->
                    <h3>Music</h3>
                    <p>Music connects hearts and minds, transcending boundaries, expressing emotions, and creating unforgettable experiences for everyone.</p>
                    <button>See More</button>
                </div>
                <div class="service">
                    <img src="/GatherHub/images/food.jpg">
                    <!--<img src="/kozzy_prod/statics/Images/self.PNG" alt="Self help-tools">-->
                    <h3>Food </h3>
                    <p>Food is a universal language that brings people together, celebrating cultures, traditions, and flavors through shared meals and experiences.</p>
                    <button>See More</button>
                </div>
                <div class="service">
                    <img src="/GatherHub/images/events.png">
                    <!--<img src="/kozzy_prod/statics/Images/the.PNG" alt="Therapist">-->
                    <h3>Events</h3>
                    <p> Events are gatherings that foster connections, celebrate milestones, share knowledge, and create lasting memories through experiences and interactions among participants.</p>
                    <button>See More</button>
                </div>
            </div>
        </section>

        <footer>
            <p>&copy; 2025. Gather Hub</p>
        </footer>
    </section>
    
</body>
</html>
