<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Static/Images/Logo.png"/>
    <title>Gather Hub | Products</title>
    <link rel="stylesheet" href="/Statics/CSS/event.css">
</head>
<body>

    <section class= "main">
        <div class= "navbar">
            <div class= "icon">
                <img src="/Static/Images/logo.png" alt="Gather Hub">
                <h2 class= "logo">Gather-Hub</h2>
            </div>

            <div class="menu">
                <ul>
                <li><a href="#index">HOME<a></li>
                <li><a href="/Templates/about.html">ABOUT<a></li>
                <li><a href="/Templates/event.html">EVENTS<a></li>
                <li><a href="/Templates/sign.html">GET STARTED<a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name=" " placeholder="Search Events">
                <a href="#"> <button class="btn">search</button></a> 
            </div>
        </div>

        <footer>
            <p>&copy; 2025. Gather Hub</p>
        </footer>
    </section>
    
</body>
</html>
